# Ignore everything by default
*

# Allow .gitignore
!.gitignore

# Allow ONLY level1, level2, level3, level4 folders
!level1/
!level1/**
!level2/
!level2/**
!level3/
!level3/**
!level4/
!level4/**

# Exclude generator scripts & temp files inside level folders
level*/*.py
level*/*.txt
level*/*.merged
.DS_Store
__pycache__/
*.pyc
